<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color:azure">
    <div class="main_content">
       {{>header}}
       <p>This Site is created by <b>Geetanjali Katare</b>.<br><br>
        It uses data from <i>mapbox.com</i> and weatherstack.com , to Forecast Weather data for your search Location.</p>
    <img class="portrait" src="https://number8.com/wp-content/uploads/2021/01/2021-software-development-salary-trends.png">
    </div>
    
    {{>footer}}
</body>

</html>