<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color:azure">
    <div class="main_content">
            {{>header}}
    <p>Hi, did u need any kind of {{title}} so contact me</p>
    </div>

    {{>footer}}
</body>

</html>